<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.motorola.cdeives.motofretado">

    <!-- Track the user's location only when inside the bus -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Detect the user's movement to "enter" and "leave" the bus automatically -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA9-HI6gA4vSiJb0D1UpbRYtbJDODP3tw0" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ActivityDetectionService"
            android:exported="false" />

        <service
            android:name=".UpdateLocationService"
            android:exported="false" />

        <receiver android:name=".ActivityDetectionResultReceiver" />

        <receiver android:name=".UpdateLocationBroadcastReceiver" />
    </application>

</manifest>